# Secrets / entorno
.env
*.local

# Dependencias
node_modules/

# Builds
dist/
build/
target/

# Rust
**/*.rs.bk

# Bases de datos SQLite
*.db
*.db-journal
*.db-shm
*.db-wal

# Logs
*.log
npm-debug.log*

# OS / editores
.DS_Store
.vscode/
.idea/
